/* define colors as variable to use them easily */

:root {
    --darkest: #1B1A17;
    --dark: #0e1511;
    --yellow: #eee5c8;
    --red: #772017;
    --dark-red: #281102;
    --light: #696969;
    --lightest: #EFEFEF;
    --green: #9c9b84;
    --brown: #a6997c;
}

header {
    background-image: url("../images/nar-landing.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nar-content {
    background-color: rgba(0, 0, 0, 0.6);
    /* cover full page on the screen */
    min-height: 100vh;
    width: 100%;
    /* display the content in flex way and put them in the center of the page */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing {
    /* align each item of a column */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* have a space of 36px in the page. so the content does not stick to the corner */
    padding: 36px;
    width: 100%;
}

.nar-head {
    margin-bottom: 48px;
}


/* styling buttons on the landing page */

.nar-options {
    display: flex;
    flex-wrap: wrap;
    /* space between buttons */
    gap: 16px;
    width: 90%;
    /* Space between the options */
    justify-content: center;
    /* make the items in a line according to the text that they have */
    align-items: baseline;
}


/* Float four columns side by side */

.nar-option {
    flex: 1;
    /* Ensure responsiveness with flex-grow, flex-shrink, and flex-basis */
    max-width: 20%;
    box-sizing: border-box;
    /* Include padding and border in width calculation */
}


/* Style the narrative button */

.nar-btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.nar-btn span {
    transition: all 0.3s;
    color: var(--lightest);
    position: relative;
}


/* style of the buttons */

.nar-btn::before {
    content: '';
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: var(--lightest);
    border-bottom-color: var(--lightest);
    transform: scale(0.1, 1);
}

.nar-btn:hover span {
    letter-spacing: 2px;
}

.nar-btn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.nar-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}


/* background color will change when you hover */

.nar-btn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


/* style narrative headings and text */

.nar-h1 {
    font-size: 64px;
    font-weight: 600;
    color: var(--lightest);
}

.nar-h2 {
    font-size: 36px;
    font-weight: 500;
    padding-top: 36px;
    color: var(--lightest);
}

.nar-h3 {
    font-size: 20px;
    font-weight: 550;
}


/* narrative sections style */

.region,
.prepration,
.time {
    background-color: var(--lightest);
    min-height: 100vh;
}

.meal,
.ingredient {
    background-color: var(--yellow);
    min-height: 100vh;
}

.reg-section,
.meal-section,
.ingredient-section,
.prepration-section,
.time-section {
    padding: 36px;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if needed */
}

.general-header {
    font-size: 45px;
    /* Set font size for the heading */
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 600;
    /* Add margin below the heading */
}

a {
    /* remove the underline */
    text-decoration: none;
    cursor: pointer;
}

.nar-cards {
    width: 85%;
    display: flex;
    padding-top: 24px;
    justify-content: center;
}

.nar-card {
    width: 33.3%;
    padding: 0 16px;
}

.pre-card {
    width: 25%;
    padding: 0 16px;
}

.nar-card .card {
    border: 1px solid #ccc;
    /* Add a light gray border */
    border-radius: 15px;
    /* Add rounded corners */
    padding: 16px;
    /* Add padding inside the card */
    margin: 10px;
    /* Add margin around each card */
    background-color: var(--lightest);
    /* Set white background for the card */
    text-align: center;
    /* Center the text inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow below the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-16px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* Responsive adjustments */

@media (max-width: 992px) {
    .nar-h1 {
        font-size: 57px;
    }
    .nar-h2 {
        font-size: 32px;
    }
    .nar-h3 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .nar-h1 {
        font-size: 36px;
    }
    .nar-h2 {
        font-size: 28px;
    }
    .nar-h3 {
        font-size: 16px;
    }
    .nar-option {
        flex: 1 1 calc(50% - 16px);
        max-width: 40%;
    }
    .nar-card {
        width: 50%;
        margin-bottom: 20px;
    }
    .nar-cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .general-header {
        font-size: 36px;
    }
    .nar-option {
        flex: 1 1 45%;
        max-width: 45%;
    }
    .nar-cards {
        width: 85%;
        flex-direction: column;
    }
    .nar-card {
        width: 100%;
        margin-bottom: 20px;
    }
}