/* define colors as variable to use them easily */

@font-face {
    font-family: myFont;
    src: url();
}

:root {
    --darkest: #1B1A17;
    --dark: #0e1511;
    --yellow: #eee5c8;
    --red: #772017;
    --dark-red: #281102;
    --light: #696969;
    --lightest: #EFEFEF;
    --green: #9c9b84;
    --brown: #a6997c;
}

* {
    box-sizing: border-box;
    font-family: 'lora', serif;
}

body {
    /* the total size of the element will not exceed the specified dimensions */
    margin: 0;
    width: 100%;
}

header {
    padding: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--yellow);
}


/* each section align in center and has a display of flex so we can fit them in the content box  */

.section-one,
.section-two,
.section-three,
.section-four {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 
}

.section-one {
    align-items: center;
    /* Center items vertically */
    display: flex;
    /* Flexbox layout */
    justify-content: space-between;
    /* Space out content evenly */
    margin-top: 50px;
    /* Set fixed height for the section */
    padding: 36px;
    /* Add padding around the content */
    gap: 20px;
    width:100% ;
}

.navbar {
    background-color: var(--darkest);
    /* Set the background color of the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* Include padding and border in the element's width and height */
    /*padding: 1.5rem 1rem; */
    height: 48px;
}

header .navbar .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.85) !important; 
    border: none !important; 
    box-shadow: none !important; 
    padding: 0.30rem 0.5rem; 
    margin-top: -10px; 
    margin-right: 5px;
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}




.navbar-brand {
    margin-top: -5px; 
    padding-left: 24px;
}

.navbar-nav {
    gap: 24px;
    background-color: var(--darkest);
    align-items: center;
}

.navbar-nav li a {
    color: var(--lightest);
    font-size: 18px;
    /* show the border when it is hovered */
    transition: color 0.9s, border-left 0.3s;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: color 0.7s;
}

.nav-link a.active {
    color: var(--yellow);
}

.nav-item .active-btn {
    color: var(--yellow);
}


/* style of the border */

.nav-item a:hover {
    color: var(--yellow);
    border-left: 2px solid var(--yellow);
}


/* Section-one heading styles */

.section-one .text-content {
    animation: 1.5s fadeInUp;
}


/* fade up the information */

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.section-one .text-content h1 {
    color: var(--darkest);
    /* Set text color to black */
    font-size: 64px;
    font-weight: bold;
    /* Large font size for the heading */
    margin-bottom: 16px;
    /* Add space below the heading */
}


/* Section-one paragraph styles */

.text-content .body-large {
    color: var(--light);
    /* Set text color to gray */
    font-size: 24px;
    /* Set font size */
    margin-bottom: 20px;
    /* Add space below the paragraph */
}


/* Button styles inside Section-one */

.section-one .btn {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    text-align: center;
}

.section-one .main-btn {
    display: flex;
    /* Flexbox to center the text inside the button */
    align-items: center;
    justify-content: center;
    /* Remove underline from button text */
    margin-top: 80px;
    margin-left: 0;
    /* Add padding around the button text */
    background-color: var(--red);
    /* Dark red background color */
    color: var(--lightest);
    /* White text color */
    border-radius: 15px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    width: 30%;
    /* Set button width */
    height: 48px;
    /* Set button height */
    font-size: 20px;
    /* Set font size */
    transition: all 500ms;
    /* Smooth background color transition on hover */
}


/* Button hover effect */

.section-one .main-btn:hover {
    color: var(--yellow);
    background-color: var(--dark-red);
    /* Change background color to darker red on hover */
}


/* Image container styles inside Section-one */

.section-one .image-content {
    flex: 1;
    /* Let the image content take up available space */
    display: flex;
    /* Flexbox layout */
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
}


/* Image styles */

.section-one .food-image {
    max-width: 80%;
    /* Image takes 65% of the container width */
    max-height: 100%;
    border-radius: 50%;
    animation: spin 2s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.section-one .food-image:hover {
    transform: rotate(360deg);
}

.about {
    /* Set background */
    background-image: url("../images/about-bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}


/* Heading styles in Section-two */

.section-two .text-content h1 {
    color: var(--lightest);
    /* Set text color to light gray */
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    /* Set font size for the heading */
    margin-top: 8px;
    margin-bottom: 16px;
    /* Add margin below the heading */
}


/* Paragraph text styles in Section-two */

.section-two .text-content p {
    color: var(--lightest);
    /* Set text color to light gray */
    font-size: 18px;
    /* Set font size for paragraph text */
    margin-top: 24px;
    margin-bottom: 20px;
    /* Add margin below the paragraph */
}


/* Section-three container styles */

.project {
    background-color: var(--yellow);
    /* Set light gray background color */
    display: flex;
    /* Use Flexbox for layout */
    justify-content: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if needed */
    padding: 36px;
    /* Add padding around the section */
}

.section-three h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    /* Set font size for the heading */
    margin-top: 8px;

}

.section-three p {
    font-size: 18px;
}


/* style of the cards together */

.cards {
    width: 100%;
    padding-top: 24px;
    justify-content: center;
}


/* style of each card individualy */

.card-item {
    float: left;
    /* put all 4 cards in a row */
    width: 20%;
    padding: 0 10px;
}


/* Individual card styles */

.card-item .card {
    background-color: rgb(156, 155, 132, 0.4);
    border-radius: 15px;
    /* Add rounded corners */
    padding: 16px;
    /* Add padding inside the card */
    margin: 10px;
    /* Add margin around each card */
    text-align: center;
    /* Center the text inside the card */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    /* Add a subtle shadow below the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition effect when hovering */
    text-decoration: none;
}

.card {
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;
}

.card-item:hover {
    transform: translateY(-10px);
    /* Move the card up slightly when hovered */
}

.card-item .card:hover {
    box-shadow: rgba(119, 32, 23, 0.3) 6px 2px 16px 0px, rgba(119, 32, 23, 0.3) -6px -2px 16px 0px;
}


/* Hover effect for card items */

.card h4 {
    color: var(--darkest);
    font-weight: 600;
    margin-top: 24px;
}

.narrative-btn {
    background-color: var(--red);
    color: var(--lightest);
    font-size: 18px;
    text-decoration: none;
    transition: all 0.8s ease-in;
    align-items: center;
    justify-content: center;
    /* Remove underline from button text */
    padding: 12px 24px;
    /* Add padding around the button text */
    margin-top: 80px;
    border-radius: 15px;
    /* Rounded corners */
    transition: all 0.5s ease;
}

.narrative-btn:hover {
    background-color: var(--dark-red);
    color: var(--yellow);
}


/* Toggle button for revealing additional content */

.toggle-btn {
    background: none;
    /* No background for the button */
    border: none;
    /* No border */
    font-size: 24px;
    /* Large font size for the toggle button */
    cursor: pointer;
    /* Pointer cursor on hover */
    margin: 10px 0;
    /* Add margin around the button */
}

.category-image {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 16px;
}


/* Additional content that is hidden by default */

.more-content {
    margin-top: 15px;
    /* Add margin above the additional content */
    padding: 10px;
    /* Add padding inside the extra content */
    background-color: #f9f9f9;
    /* Light gray background for the extra content */
    border-top: 1px solid #ddd;
    /* Add a light border at the top */
    text-align: left;
    /* Align text to the left */
    display: none;
    /* Hidden by default */
}


/* Fade-in and fade-out transition effects */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
    /* Smooth transition for opacity changes */
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    /* The element is initially invisible */
}

.map {
    background-image: url("../images/map-pic.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}


/* section four: map */

.section-four,
.section-two {
    background-color: rgba(0, 0, 0, 0.75);
    gap: 20px;
    /* Add spacing between items inside the section */
    display: flex;
    flex-direction: column;
    /* Vertical arrangement */
    align-items: center;
    /* Center horizontally */
    padding: 36px;
    min-height: 60vh;
}


/* Text content styling */

.text-content h1 {
    color: var(--lightest);
    /* Title text color */
    font-size: 45px;
    font-weight: 600;
    /* Title font size */
    margin-bottom: 36px;
    /* Margin below the title */
    text-align: center;
}

.text-content p {
    color: var(--lightest);
    /* Description text color */
    font-size: 18px;
    /* Description font size */
    margin-bottom: 0;
    /* Margin below the description */
    line-height: 1.5;
    /* Set line height for readability */
    /* Justify text alignment */
    word-break: break-word;
    /* Force line breaks on long words */
    margin-top: 10px;
    /* Margin above the paragraph */
}

.section-four a,
.section-two a {
    display: inline-block;
    /* Ensure inline-block layout */
    padding: 12px 20px;
    background-color: var(--yellow);
    /* Button background color */
    color: var(--dark-red);
    /* Button text color */
    border: none;
    /* Remove border */
    border-radius: 15px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 18px;
    /* Button font size */
    text-decoration: none;
    /* Remove underline for link */
    text-align: center;
    /* Center text */
    transition: all 0.8s ease;
    margin-bottom: 16px;
    margin-top: 80px;
    /* Margin of the button */
}

.section-four a:hover,
.section-two a:hover {
    background-color: var(--green);
    color: var(--darkest);
}


/* Overall styling for the Team section */

.team-section {
    padding: 50px 20px;
    background-color: var(--yellow);
    text-align: center;
    height: auto;
}


/* Title styling */

.section-title {
    color: var(--darkest);
    font-size: 45px;
    margin-bottom: 36px;
    font-weight: bold;
}


/* Team container styling */

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    overflow: visible;
}


/* Each team member card styling */

.team-member {
    background-color: var(--darkest);
    color: var(--lightest);
    padding: 32px;
    width: 20%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-align: center;
}


/* Hover effect on team member card to slightly lift it */

.team-member:hover {
    transform: translateY(-15px);
    font-weight: 600;
    cursor: pointer;
}


/* Member image styling */

.member-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Member name styling */

.member-name {
    font-size: 18px;
    margin: 15px 0;
}


/* Social icon container styling */

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


/* Social icon styling */

.social-icons a {
    color: var(--lightest);
    font-size: 28px;
    transition: color 0.3s ease, transform 0.3s ease;
}


/* Hover effect on social icons to change color and slightly enlarge */

.social-icons a:hover {
    color: var(--yellow);
    transform: scale(1.1);
}


/* information section style */

.info-section {
    width: 100%;
    /* Add spacing between items inside the section */
    height: auto;
    display: flex;
    /* Flexbox layout */
    justify-content: space-between;
    gap: 60px;
    /* Space out content evenly */
    background-color: var(--darkest);
    color: var(--lightest);
    padding: 0;
}

.contact-info {
    flex: 1;
}

.info-img {
    flex: 1;
    height: auto;
    object-fit: cover;
}

.info-img .info-picture {
    width: 100%;
    /* Set image width to 70% of the container */
    height: 100vh;
    /* Maintain aspect ratio */
    max-width: 100%;
    /* Ensure the image doesn’t exceed the container's width */
    object-fit: cover;
}

.contact-info {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact-info h3 {
    font-weight: bold;
    margin-bottom: 16px;
}

.contact-info p {
    font-size: 18px;
}

footer {
    background-color: var(--dark);
    color: white;
    font-size: 16px;
    padding: 36px;
}

.map-container {
    width: 80%;
}

.location-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loc {
    width: 100%;
    height: 450px;
}


/* Responsive design for tablets */

@media (max-width: 1280px) {
    .home {
        min-height: auto;
    }
    .section-one {
        width: 100%;
        flex-direction: column-reverse;
        /* Stack text and image vertically with text first */
        justify-content: center;
        /* Center content vertically */
    }
    .section-one .text-content {
        padding-left: 0;
        /* Remove left padding on smaller screens */
        text-align: center;
        /* Center the text */
    }
    .section-one .btn {
        margin: 360px auto 0 auto;
        /* Center the button */
        display: block;
        /* Ensure the button is displayed as a block element */
        padding: 8px 16px;
        /* Reduce padding for the button */
        width: 50%;
        /* Reduce button width */
        height: 48px;
        /* Reduce button height */
        font-size: 20px;
        /* Reduce button font size */
    }
    .section-one .text-content p {
        display: none;
    }
    .section-one .image-content {
        position: absolute;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        /* Full width of the section */
        max-height: 40%;
        /* Full height of the section */
        z-index: 1;
        overflow: hidden;
        /* Hide overflowing image */
    }
    .section-one .image-content img {
        width: 85%;
        height: 85%;
        align-items: center;
        /* Make the image faint for better readability */
    }
    .section-one .btn {
        width: 30%;
    }
    .section-one .text-content h1 {
        font-size: 50px;
    }
}


/* Responsive cards */

@media screen and (max-width: 970px) {
    .section-one {
        min-height: 100%;
    }
    .section-three {
        display: flex;
        justify-content: center;
    }
    .cards {
        width: 80%;
        justify-items: center;
        align-items: center;
    }
    /* put two cards in a row */
    .card-item {
        width: 50%;
    }
    .team-member {
        width: 40%;
    }
}

@media (max-width: 769px) {
    .section-one .btn {
        margin-top: 280px;
    }
    .team-member {
        width: 40%;
    }
    .about {
        flex-direction: column;
        /* Stack content vertically */
        justify-content: center;
        /* Center content vertically */
        height: auto;
        /* Allow height to adjust automatically */
        padding: 20px;
        /* Maintain padding */
    }
    .section-two .image-content {
        display: none;
    }
    .section-two .text-content {
        padding-left: 0;
        /* Remove left padding on smaller screens */
        margin-bottom: 20px;
        /* Add margin below the text */
        margin-top: 20px;
        /* Add margin above the text */
        width: 100%;
    }
    .section-two .text-content h1 {
        text-align: center;
        font-size: 32px;
        /* Reduce heading size on smaller screens */
    }
    .section-two .text-content p {
        text-align: justify;
        font-size: 16px;
        /* Reduce paragraph font size on smaller screens */
    }
    .section-two .btn {
        margin: 0 auto;
        /* Center the button */
        display: block;
        /* Ensure the button is displayed as a block element */
        padding: 8px 16px;
        /* Reduce padding for the button */
        width: 120px;
        /* Reduce button width */
        height: 40px;
        /* Reduce button height */
        font-size: 16px;
        /* Reduce button font size */
        margin-bottom: 16px;
    }
    .section-two .food-image {
        width: auto;
        /* Allow the image width to adjust */
        height: auto;
        /* Allow the image height to adjust */
        max-width: 400px;
        /* Set a maximum width for the image */
        max-height: 300px;
        /* Set a maximum height for the image */
        border-radius: 15px;
        /* Keep rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Keep shadow effect */
        object-fit: cover;
        /* Maintain aspect ratio */
    }
    /* Adaptation for small screens */
    .section-four,
    .section-two {
        flex-direction: column;
        /* Stack content vertically */
        justify-content: center;
        /* Center content vertically */
        height: auto;
        /* Auto height for small screens */
    }
    .map {
        padding: 20px;
    }
    .text-content h1 {
        font-size: 36px;
        /* Reduce title font size */
    }
    .text-content p {
        text-align: justify;
        font-size: 16px;
        /* Reduce description font size */
    }
    .btn {
        width: 65%;
        /* Full width button on small screens */
        max-width: 300px;
        /* Set maximum width */
        padding: 10px 20px;
        /* Adjust padding */
    }
    .info-section {
        flex-direction: column;
        /* Stack content vertically */
        padding: 20px;
        /* Reduce overall padding */
        gap: 30px;
        /* Decrease spacing between elements */
    }
    .contact-info {
        flex: none;
        /* Remove automatic stretching */
        width: 100%;
        /* Take up full width */
        text-align: center;
        /* Center text content */
    }
    .info-img {
        display: none;
    }
    .contact-info h3 {
        font-size: 28px;
        /* Adjust heading font size */
        margin-bottom: 10px;
        /* Adjust heading spacing */
    }
    .contact-info p {
        font-size: 18px;
        /* Reduce paragraph font size */
        line-height: 1.5;
        /* Increase paragraph line height */
    }
    .location-info {
        justify-content: center;
        align-items: center;
    }
    .map-container {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .section-one .text-content h1 {
        font-size: 36px;
        /* Reduce heading size on smaller screens */
    }
    .section-one .main-btn {
        width: 50%;
    }
    .section-three {
        display: flex;
        justify-content: center;
    }
    .cards {
        width: 80%;
        justify-items: center;
        align-items: center;
    }
    /* put each card completely in a row */
    .card-item {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .team-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-container {
        width: 70%;
    }
    .team-member {
        width: 100%;
        margin-bottom: 24px;
    }
    .map-btn,
    .more-btn {
        margin-top: 16px;
        width: 70%;
    }
}


/* Responsive design for mobile devices */

@media (max-width: 481px) {
    .info-section {
        flex-direction: column;
        /* Keep vertical stacking layout */
        padding: 15px;
        /* Further reduce padding */
        gap: 20px;
        /* Decrease spacing between elements */
    }
}


/* Responsive styles for navigation bar */

@media (max-width: 992px) {
    .navbar {
        margin-top: -15px;
        height: 60px;
    }
    .navbar-toggler {
        display: block;
        /* Show hamburger button on small screens */
    }
    .collapse {
        display: none;
        /* Hidden by default */
        flex-direction: column;
        align-items: center;
    }
    .collapse.show {
        display: flex;
        /* Show the menu when toggled */
    }
    .navbar-collapse {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--darkest);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 4px;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        font-size: 14px;
        margin: 0;
    }
    .navbar-brand img {
        margin: 0;
        /* Remove extra margins */
        top: 0;
        left: 0;
    }
}
