/* define colors as variable to use them easily */

@font-face {
    font-family: myFont;
    src: url();
}

:root {
    --darkest: #1B1A17;
    --dark: #0e1511;
    --yellow: #eee5c8;
    --red: #772017;
    --dark-red: #281102;
    --light: #696969;
    --lightest: #EFEFEF;
    --green: #9c9b84;
    --brown: #a6997c;
}

* {
    box-sizing: border-box;
    font-family: 'lora', serif;
}

body {
    /* the total size of the element will not exceed the specified dimensions */
    margin: 0;
    width: 100%;
}

header {
    padding: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--yellow);
}


/* each section align in center and has a display of flex so we can fit them in the content box  */

.section-one,
.section-two,
.section-three,
.section-four {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar {
    background-color: var(--darkest);
    /* Set the background color of the navbar */
    display: flex;
    justify-content: space-between;
    /* Space out the logo and menu items */
    align-items: center;
    /* Vertically center the items */
    /* Ensure the navbar spans the full width of the page */
    box-sizing: border-box;

    height: 48px;
}

.navbar-brand {
    padding-left: 24px;
}

.navbar-nav {
    padding-right: 24px;
    gap: 24px;
}

.navbar-nav li a {
    color: var(--lightest);
    font-size: 18px;
    transition: color 0.9s, border-left 0.3s;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: color 0.7s;
}

.nav-link a.active {
    color: var(--yellow);
}

.nav-item .active-btn {
    color: var(--yellow);
}


/* style of the border */

.nav-item a:hover {
    color: var(--yellow);
    border-left: 2px solid var(--yellow);
}


/* style of the border */

.nav-item a:hover {
    color: var(--yellow);
    border-left: 2px solid var(--yellow);
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 10px 0;
}


/* Section-one heading styles */

.section-one .text-content {
    animation: 1.5s fadeInUp;
}


/* fade up the information */

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.section-one {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 36px;
    gap: 20px;
    width: 100%;
}

.section-one .text-content h1 {
    color: var(--darkest);
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 16px;
}


/* Section-one paragraph styles */

.text-content .body-large {
    color: var(--light);
    font-size: 24px;
    margin-bottom: 20px;
}


/* Button styles inside Section-one */

.section-one .btn {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    text-align: center;
}

.section-one .main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 0;
    background-color: var(--red);
    color: var(--lightest);
    border-radius: 15px;
    cursor: pointer;
    width: 30%;
    height: 48px;
    font-size: 20px;
    transition: all 500ms;
}


/* Button hover effect */

.section-one .main-btn:hover {
    color: var(--yellow);
    background-color: var(--dark-red);
}


/* Image container styles inside Section-one */

.section-one .image-content {
    flex: 1;
    /* Let the image content take up available space */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Image styles */

.section-one .food-image {
    max-width: 80%;
    max-height: 100%;
    border-radius: 50%;
    animation: spin 2s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.section-one .food-image:hover {
    transform: rotate(360deg);
}

.about {
    /* Set background */
    background-image: url("../images/about-bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}


/* Heading styles in Section-two */

.section-two .text-content h1 {
    color: var(--lightest);
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 16px;
}


/* Paragraph text styles in Section-two */

.section-two .text-content p {
    color: var(--lightest);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 20px;
}


/* Section-three container styles */

.project {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if needed */
    padding: 36px;
}

.section-three h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-top: 8px;
}

.section-three p {
    font-size: 18px;
}


/* style of the cards together */

.cards {
    width: 100%;
    padding-top: 24px;
    justify-content: center;
}


/* style of each card individualy */

.card-item {
    float: left;
    /* put all 4 cards in a row */
    width: 20%;
    padding: 0 10px;
}


/* Individual card styles */

.card-item .card {
    background-color: rgb(156, 155, 132, 0.4);
    border-radius: 15px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    /* Add a subtle shadow below the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition effect when hovering */
    text-decoration: none;
}

.card {
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;
}

.card-item:hover {
    transform: translateY(-10px);
    /* Move the card up slightly when hovered */
}

.card-item .card:hover {
    box-shadow: rgba(119, 32, 23, 0.3) 6px 2px 16px 0px, rgba(119, 32, 23, 0.3) -6px -2px 16px 0px;
}

.card h4 {
    color: var(--darkest);
    font-weight: 600;
    margin-top: 24px;
}

.narrative-btn {
    background-color: var(--red);
    color: var(--lightest);
    font-size: 18px;
    text-decoration: none;
    transition: all 0.8s ease-in;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    margin-top: 80px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.narrative-btn:hover {
    background-color: var(--dark-red);
    color: var(--yellow);
}

.category-image {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 16px;
}

.map {
    background-image: url("../images/map-pic.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}


/* section four: map */

.section-four,
.section-two {
    background-color: rgba(0, 0, 0, 0.75);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    min-height: 60vh;
}


/* Text content styling */

.text-content h1 {
    color: var(--lightest);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 36px;
    text-align: center;
}

.text-content p {
    color: var(--lightest);
    font-size: 18px;
    line-height: 1.5;
    word-break: break-word;
    margin-top: 10px;
}

.section-four a,
.section-two a {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--yellow);
    color: var(--dark-red);
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: all 0.8s ease;
    margin-bottom: 16px;
    margin-top: 80px;
}

.section-four a:hover,
.section-two a:hover {
    background-color: var(--green);
    color: var(--darkest);
}


/* Overall styling for the Team section */

.team-section {
    padding: 50px 20px;
    background-color: var(--yellow);
    text-align: center;
    height: auto;
}


/* Title styling */

.section-title {
    color: var(--darkest);
    font-size: 45px;
    margin-bottom: 36px;
    font-weight: bold;
}


/* Team container styling */

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    overflow: visible;
}


/* Each team member card styling */

.team-member {
    background-color: var(--darkest);
    color: var(--lightest);
    padding: 32px;
    width: 20%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-align: center;
}


/* Hover effect on team member card to slightly lift it */

.team-member:hover {
    transform: translateY(-15px);
    font-weight: 600;
    cursor: pointer;
}


/* Member image styling */

.member-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Member name styling */

.member-name {
    font-size: 18px;
    margin: 15px 0;
}


/* Social icon container styling */

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


/* Social icon styling */

.social-icons a {
    color: var(--lightest);
    font-size: 28px;
    transition: color 0.3s ease, transform 0.3s ease;
}


/* Hover effect on social icons to change color and slightly enlarge */

.social-icons a:hover {
    color: var(--yellow);
    transform: scale(1.1);
}


/* information section style */

.info-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 36px;
    background-color: var(--darkest);
    color: var(--lightest);
    padding-left: 36px;
}

.contact-info {
    flex: 1;
}

.info-img {
    flex: 1;
    height: auto;
    object-fit: cover;
}

.info-img .info-picture {
    width: 90%;
    max-height: 100vh;
    max-width: 100%;
    object-fit: cover;
}

.contact-info {
    min-height: 100vh;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info h3 {
    font-weight: bold;
    margin-bottom: 16px;
}

.contact-info p {
    font-size: 18px;
}

footer {
    background-color: var(--dark);
    color: white;
    font-size: 16px;
    padding: 36px;
}

.map-container {
    width: 80%;
}

.location-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loc {
    width: 100%;
    height: 450px;
}


/* Responsive design for tablets */

@media (max-width: 1280px) {
    .home {
        min-height: auto;
    }
    .section-one {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .section-one .text-content {
        padding-left: 0;
        text-align: center;
    }
    .section-one .btn {
        margin: 360px auto 0 auto;
        display: block;
        padding: 8px 16px;
        width: 50%;
        height: 48px;
        font-size: 20px;
    }
    .section-one .text-content p {
        display: none;
    }
    .section-one .image-content {
        position: absolute;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        max-height: 40%;
        z-index: 1;
        overflow: hidden;
    }
    .section-one .image-content img {
        width: 85%;
        height: 85%;
        align-items: center;
    }
    .section-one .btn {
        width: 30%;
    }
    .section-one .text-content h1 {
        font-size: 50px;
    }
}


/* Responsive cards */

@media screen and (max-width: 970px) {
    .section-one {
        min-height: 100%;
    }
    .section-three {
        display: flex;
        justify-content: center;
    }
    .cards {
        width: 80%;
        justify-items: center;
        align-items: center;
    }
    /* put two cards in a row */
    .card-item {
        width: 50%;
    }
    .team-member {
        width: 40%;
    }
}

@media (max-width: 769px) {
    .section-one .btn {
        margin-top: 280px;
    }
    .team-member {
        width: 40%;
    }
    .about {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 20px;
    }
    .section-two .image-content {
        display: none;
    }
    .section-two .text-content {
        padding-left: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
    }
    .section-two .text-content h1 {
        text-align: center;
        font-size: 32px;
    }
    .section-two .text-content p {
        text-align: justify;
        font-size: 16px;
    }
    .section-two .btn {
        margin: 0 auto;
        display: block;
        padding: 8px 16px;
        width: 120px;
        height: 40px;
        font-size: 16px;
        margin-bottom: 16px;
    }
    .section-two .food-image {
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: 300px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        object-fit: cover;
    }
    /* Adaptation for small screens */
    .section-four,
    .section-two {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .map {
        padding: 20px;
    }
    .text-content h1 {
        font-size: 36px;
    }
    .text-content p {
        text-align: justify;
        font-size: 16px;
    }
    .btn {
        width: 65%;
        max-width: 300px;
        padding: 10px 20px;
    }
    .info-section {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }
    .contact-info {
        flex: none;
        width: 100%;
        text-align: center;
    }
    .info-img {
        display: none;
    }
    .contact-info h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .contact-info p {
        font-size: 18px;
        line-height: 1.5;
    }
    .location-info {
        justify-content: center;
        align-items: center;
    }
    .map-container {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .section-one .text-content h1 {
        font-size: 36px;
    }
    .section-one .main-btn {
        width: 50%;
    }
    .section-three {
        display: flex;
        justify-content: center;
    }
    .cards {
        width: 80%;
        justify-items: center;
        align-items: center;
    }
    /* put each card completely in a row */
    .card-item {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .team-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-container {
        width: 70%;
    }
    .team-member {
        width: 100%;
        margin-bottom: 24px;
    }
    .map-btn,
    .more-btn {
        margin-top: 16px;
        width: 70%;
    }
}


/* Responsive design for mobile devices */

@media (max-width: 481px) {
    .info-section {
        flex-direction: column;
        padding: 15px;
        gap: 20px;
    }
}


/* Responsive styles for navigation bar */

@media (max-width: 970px) {
    .navbar {
        margin-top: -15px;
        height: 60px;
    }
    .navbar-toggler {
        display: block;
    }
    .collapse {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .collapse.show {
        display: flex;
    }
    .navbar-collapse {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--darkest);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 4px;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        font-size: 14px;
        margin: 0;
    }
    .navbar-brand img {
        margin: 0;
        /* Remove extra margins */
        top: 0;
        left: 0;
    }
}